@theme "~/.config/rofi/themes/spotlight-dark.rasi"
//@theme "~/.config/rofi/themes/launchpad.rasi"
//@theme "~/.config/rofi/themes/rounded-nord-dark.rasi"
//@theme "~/.config/rofi/themes/rounded-red-dark.rasi"
//@theme "~/.config/rofi/themes/windows11-list-dark.rasi"
//@theme "~/.config/rofi/themes/squared-nord.rasi"
